<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/2.3.0/nunjucks.min.js"></script>
</head>
<body>
	<h1>Recitation Report tool</h1>
	<form onsubmit="solve(event)">
		<select id="courses" name="course" onchange="getRecitations(event)">
			<option>Select course</option>
			{% for row in rows %}
				<option value="{{ row.cid }}">{{ row.cname }}</option>
			{% endfor %}
		</select>

		<select id="recitations" name="recitation" onchange="getAssignments(event)" disabled>
			<option>Select recitation</option>
			{% for rid in rids %}
				<option value="{{rid}}">{{rid}}</option>
			{% endfor %}
		</select>
		<select name="track">
			<option value="A">A</option>
			<option value="B">B</option>
			<option value="C">C</option>
			<option value="D">D</option>
		</select>
		<input type="text" name="name" /> 
		<div id="checkboxes">
			{% for number, letters in assignments %}
				{% for letter in letters %}
					<label><input value="{{number}}" type="checkbox" />{{number}}{{letter}}</label>
				{% endfor %}
			{% endfor %}
		</div>
		<input type="submit" value="Submit" />
	</form>
	<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
