<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript">
		function getRecitations(e) {
			console.log(e.target.value);
			var el = document.querySelector('form select[name="recitation"]');

			fetch('/recitation', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					cid: e.target.value
				})
			}).then(result => result.json())
		.then(json => {
				console.log(json);
			for(row in json) {
				console.log(row);
				var newOption = document.createElement('option');
				var textnode = document.createTextNode(json[row].rid);
				newOption.appendChild(textnode);
				newOption.setAttribute('value', json[row].rid)
				el.appendChild(newOption);
			}
			el.disabled = false;
		})
		}

		function getAssignments(e) {
			console.log(e.target.value);
			var el = document.querySelector('form select[name="recitation"]'); //TODO

			fetch('/assignments', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					rid: e.target.value
				})
			}).then(result => result.json())
		.then(json => {
				console.log(json);
			for(row in json) {
				console.log(row);
				var newOption = document.createElement('option');
				var textnode = document.createTextNode(json[row].rid);
				newOption.appendChild(textnode);
				newOption.setAttribute('value', json[row].rid)
				el.appendChild(newOption);
			}
			el.disabled = false;
		})
		}
	</script>
</head>
<body>
	<h1>Recitation Report tool</h1>
	<form action="/solve" method="POST">
		<select name="course" onchange="getRecitations(event)">
			<option>Select course</option>
			{% for row in rows %}
				<option value="{{ row.cid }}">{{ row.cname }}</option>
			{% endfor %}
		</select>

		<select name="recitation" onchange="getAssignments(event)" disabled>
			<option>Select recitation</option>
		</select>
		<select name="track">
			<option value="A">A</option>
			<option value="B">B</option>
			<option value="C">C</option>
			<option value="D">D</option>
		</select>
		<input type="text" name="name" /> 

		<br />
		<input type="submit" value="Submit" />
	</form>
</body>
</html>
